:root {
    --gray: #d3d0cb;
    --dark-blue: #143642;
    --cyan: #0f8b8d;
    --lime: #bfd7b5;
    --lemon: #e7efc5;
}   

a:link {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.text-black {
    color: black;
}

.bg-bg {
    background-color: #d3d0cb;
}

.bg-main {
    background-color: #0f8b8d;
}

.bg-alternate {
    background-color: #143642;
}

.bg-highlight1 {
    background-color: #bfd7b5;
}

.bg-highlight2 {
    background-color: #e7efc5;
}

header .row,
footer .row {
    display: flex;
    align-items: right;
}

.jumbotron {
    border-radius: 0%;
}

.jumbotron h1 {
    color: whitesmoke;
}

.cover-container {
    background-image: url(./assets/eurorack1.jpeg);
    background-size: cover;
    background-position: center;
}

#ggebc-photo {
    background-image: url(./assets/unnamed.jpg);

}

#main-landing {
    background-image: url(./assets/eurorack1.jpeg);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
