body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    padding-top: 15px;
    background-color: whitesmoke;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: cornflowerblue;
}

header .row,
footer .row {
    display: flex;
    align-items: right;
}

.jumbotron {
    border-radius: 0%;
    background-color: cornflowerblue;
}

.jumbotron h1 {
    color: whitesmoke;
    background-color: cornflowerblue;
}

#main-landing {
    background-image: url(./assets/eurorack1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}
